/* header */

.cabezera{
    width: 133.6rem;
    height: 6rem;
    background-color: #CCCCCC;
    
    margin: 1rem 0 0 3rem;
}

.puntos{    
    width: 6rem;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.puntos img{
    width: 6rem;
}

/* barrara de busqueda */

.barra{
    width: 133.6rem;
    height: 5rem;
    background-color: pink;
    
    margin: 0 0 0 3rem ;

    display: flex;
    flex-direction: row;
}

#vacio{
    width: 120rem;
    height: auto;
    background-color: #464E5D;
}

.cuadrado-rojo{
    width: 14rem;
    margin: 1rem 1rem 1rem 1rem;
    background-color: #DA364A;
}

.busqueda{
    width: 16.6rem;

    display: flex;
    background-color:#464E5D;
}

.busqueda img{
    width: 4rem;
    margin: 1rem 1rem 1rem 1rem;
}


/* caja principal */

.caja-padre{
    width: 136.6rem;
    height: 140rem;
    display: flex;
    flex-direction: row;
}

.contenido{
    width: 95rem;
    height: 106rem;
    align-items: center;

    display: flex;
    flex-direction: column;
}


/* cajas secundarias */

#caja1{
    width: 90rem;
    height: 35rem;
    margin: 1rem;
}

#caja{
    width: 90rem;
    height: 20rem;
    margin: 1rem;

    display: flex;
    flex-direction: row;
    align-content: center;
}

.interior-gris1{
    width: 86rem;
    height: 34rem;
    margin: 2rem;

    background-color: #CCCCCC;
}

.interior-gris2, .interior-gris3, .interior-gris4{
    width: 26rem;
    height: 20rem;
    margin: 2rem;

    background-color: #CCCCCC;
}

.interior-gris5, .interior-gris6, .interior-gris7{
    width: 26rem;
    height: 20rem;
    margin: 2rem;

    background-color: #CCCCCC;
}

.interior-gris8{
    width: 22rem;
    height: 16rem;
    margin: 4rem 0 0 2rem;

    background-color: #CCCCCC;
}

/* caja lateral */

.lado{
    width: 52rem;
    height: 106rem;
    background-color: #E6E6E6;
    
    margin: 3rem 0 0 0 ;
}

.seccion1{
    width: 42rem;
    height: 100rem;
}

.interior-gris9, .interior-gris10, .interior-gris11, .interior-gris11, .interior-gris12{
    width: 25rem;
    height: 12rem;
    margin: 3rem;
    position: relative;
    top: 90px; left: 120px;
    background-color: #CCCCCC;
}

.interior-gris13{
    width: 32rem;
    height: 28rem;
    margin: 12rem 0 0 8rem ;
    background-color: #BFBFBF;
}